# Dependency directories
node_modules/

# Compiled output
dist/
tmp/
out-tsc/

# Sensitive or environment-specific files
src/environments/*.ts
src/environments/*.js

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
