/* Define custom font */
@font-face {
  font-family: 'Roboto Medium';
  src: url('./Roboto-Medium.ttf') format('truetype');
}

.buttonClass {
  font-family: "Lobster";
  font-size: 30px;
  color: #fffcf2;
  background-color: #04724d;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.job-description-input {
  font-size: 15px;
  padding: 25px;
  width: 400px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
