@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep nb-layout-column {
    justify-content: center;
    display: flex;
  }

  nb-chat {
    margin: 3rem auto 0;
    width: 500px;

  }

  .chat-container {
    margin-bottom: 2rem;

    li {
      padding-top: 1rem;
    }
  }

  .chart-description {
    text-align: center;
    margin: 0 auto;
    width: 52%;
  }

  .chart-features {
    margin-top: 2.75rem;
  }

  .chat-icon {
    border: none;
  }

  .image-class {
    width: 90px;
    height: 90px;
    /* Ensure height matches width for a circular shape */
    border-radius: 50%;
    /* Make the image circular */
    border: 2px solid #0084ff;
    /* Messenger-like border color */
  }


  /* chat.component.scss */
  .chat-container {
    position: fixed;
    bottom: 30%;
    right: 20%;
    transform: translateX(50%);
    width: 300px;
    height: 400px;
    border-radius: 5px;
    display: none;
  }

  .chat-container.open {
    display: block;
  }

  .minimize-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .minimize-button img {
    width: 20px;
    /* Adjust the size of the minimize icon */
    height: auto;
  }


  @include media-breakpoint-down(xxl) {
    nb-chat {
      width: 400px;
    }
  }

  @include media-breakpoint-down(md) {
    nb-chat {
      width: 400px;
    }

    .chart-description {
      width: 90%;
    }
  }

  @include media-breakpoint-down(is) {
    nb-chat {
      width: 300px;
    }
  }
}
