@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep nb-layout-column {
    justify-content: center;
    display: flex;
  }

  nb-chat {
    margin: 3rem auto 0;
    width: 500px;
  }

  .chat-container {
    position: fixed;
    bottom: 40%;
    right: 20%;
    transform: translateX(50%);
    width: 300px;
    height: 400px;
    border-radius: 5px;
    display: none;
  }

  .chat-container.open {
    display: block;
  }

  .minimize-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .minimize-button img {
    width: 20px;
    height: auto;
  }

  .chat-icon {
    border: none;
  }

  .icons {
    width: 30px;
    /* Set the desired width */
    height: 30px;
    /* Set the desired height */
  }


  .image-class {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #0084ff;
  }

  .attach-document-button {
    position: absolute;
    bottom: 20px;
    left: -65px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    z-index: 999;
    background-color: #3366ff;
    color: white;
  }


  .file-input {
    position: absolute;
    bottom: -35px;
    left: -92px;
    z-index: 1;
    background-color: #3366ff;
    color: white;
    width: 75%;
    border-radius: 30px;
    padding: 1px;
  }





  @include media-breakpoint-down(xxl) {
    nb-chat {
      width: 400px;
    }
  }

  @include media-breakpoint-down(md) {
    nb-chat {
      width: 400px;
    }

    .chart-description {
      width: 90%;
    }
  }

  @include media-breakpoint-down(is) {
    nb-chat {
      width: 300px;
    }
  }
}
