<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group text-left">
            <nb-card  [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
              nbSpinnerMessage="please wait..." id="card.exp.resp"  size="large">

              <nb-card-body >
                <form>
                  <label class="text-muted font-weight-bold small">Enter the job description</label>
                  <textarea class="form-control bg-light" id="responsibilities" rows="18"
                   placeholder="Enter the job description"
                   (input)="jobDescription = $event.target.value"></textarea>
                  
                </form>
              </nb-card-body>
              <nb-card-footer>
                <div><button nbButton [status]="status" outline [size]="size" (click)="onGenerateResume2()">
                  AI Generate
                </button></div>
              </nb-card-footer>
            </nb-card>
          </div>
        </div>
        <div class="col-md-8">
          <!-- New div side by side with the form -->
          <div >
            <app-report-viewer [formData]="getFormData()"></app-report-viewer>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
