.report-viewer {
    margin: 40px;
    font-family: 'Palatino Linotype'; 

    .menu-bar button {
        margin-right: 10px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
    }


    .resume-preview {
        font-family: 'Palatino Linotype'; 

        h6 {
            color: #007bff;
            margin-top: 5px;
        }


    }

    .resume-section {
        font-family: 'Palatino Linotype'; 
        border-top: 1px solid #ccc;
       

        p {
            margin-bottom: 5px;

            strong {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }

    .headers1 {
        font-family: 'Palatino Linotype'; // Change font family to 'Caramond'
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
    }
    .headers2 {
        font-family: 'Palatino Linotype'; // Change font family to 'Caramond'
        text-align: center;
        font-size: 1em;
        
    }
    

}

.menu-bar {
    display: flex;
    font-size: 0.75em;
    background-color: #fcfdfd;
    border: 1px solid #020813;
}


.toolbar {
    font-size: 0.75em;

    a {
        padding: 0.4rem;
        color: nb-theme(text-hint-color);
        transition: color ease-out 0.1s;

        &:hover {
            color: nb-theme(text-basic-color);
        }
    }
}

h5 {  
    font-family: 'Palatino Linotype';   
}


.container {
    display: flex; /* Use flexbox layout */
    justify-content: space-between;
  }
  h6 {
    color: #2E74B5;
    margin-top: 5px;
    margin-top: 0px;
}