.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonClass {
  font-family: "Lobster";
  font-size: 20px;
  color: #fffcf2;
  background-color: #04724d;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  text-decoration: none; /* Remove underline from anchor tag */
}

.buttonClass:hover {
  background-color: #035e40;
}
