body {
  background-color: #FFFCF2;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loginButtons {
  display: flex;
  align-items: center;
}

.buttonClass {
  font-family: "Lobster";
  font-size: 30px;
  color: #fffcf2;
  background-color: #04724d;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.buttonClass:hover {
  background-color: #035e40;
}

.orText {
  font-family: "Lobster";
  font-size: 34px;
  color: #04724D;
  margin: 0 10px;
}
